@font-face {
    font-family: 'Harlow';
    src:url(../Fonts/Harlow.ttf)
}

body {
  margin: 0;
  background: url(../Assets/Testing/pattern_background.png) repeat;
}

nav {
  border-bottom: 5px solid  #EF476F;
}

#coin-layer {
    padding-right: 10px;
    color: #FFF562;
}

#coin-layer a {
    color: #fa08fa;
    font-weight: bolder;
}

#coin-layer a:hover {
    color: black;
    font-weight: bolder;
}

#headercontainer {
  margin: 0;
}

#logocontainer img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

#logocontainer img:hover {
    transform: scale(1.08);
    /* transition: transform .3s; */
    transition: ease-in-out .3s;
    -webkit-animation: smoothCriminal 15s ease infinite;
    -moz-animation: smoothCriminal 15s ease infinite;
    animation: smoothCriminal 15s ease infinite;
}

.datacontainer {
    margin: 0px;
}

.navButton {
    margin: 0 10px;
	box-shadow: 0px 10px 17px 6px #fa08fa;
	background-color: #fff562;
	border-radius: 4px;
	border: 1px solid #fff562;
	display: inline-block;
	cursor: pointer;
	font-family: 'Harlow';
	font-size: 28px;
	font-weight: lighter;
	padding: 9px 17px;
}
.navButton:hover {
    box-shadow: 0px 10px 17px 6px #FFF562;

    transform: scale(1.08);
    transition: transform .3s;

    /* Apply zoom animation */
    background: #00bef3;
    background-size: 400% 400%;

    -webkit-animation: smoothCriminal 15s ease infinite;
    -moz-animation: smoothCriminal 15s ease infinite;
    animation: smoothCriminal 15s ease infinite;
    color: #FFF562;
    font-weight: bold;
}
.navButton:active {
	position: relative;
	top: 1px;
}

.navButton img {
    padding: 0px;
    margin: 0px;
}

.searchButton {
    margin: 0px;
	box-shadow: 6px 10px 17px 6px #fa08fa;
	background-color: #fff562;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	border: 1px solid #fff562;
	display: inline-block;
	cursor: pointer;
	font-family: 'Harlow';
	font-size: 28px;
	font-weight: lighter;
	padding: 9px 17px;
}
.searchButton:hover {
    box-shadow: 6px 10px 17px 6px #fa08fa;

    /* Apply zoom animation */
    background: #fa08fa;
    background-size: 400% 400%;

    -webkit-animation: smoothCriminal 15s ease infinite;
    -moz-animation: smoothCriminal 15s ease infinite;
    animation: smoothCriminal 15s ease infinite;
    color: #FFF562;
    font-weight: bold;
}
.searchButton:active {
	position: relative;
	top: 1px;
}

.searchBox {
    margin: 0px 0px 0px 10px;
    padding-right: 0px;
	box-shadow: 0px 10px 17px 6px #fa08fa;
	background-color: #00bef3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
	border: 1px solid #fff562;
    color: #fff562;
	display: inline-block;
	cursor: auto;
	font-family: 'Harlow';
	font-size: 28px;
	font-weight: lighter;
	padding: 9px 17px;
}

.searchBox:active {
	position: relative;
	top: 1px;
}

.tableButton {
	background-color: #00bef3;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #FFF562;
	font-family: 'Harlow';
	font-size: 30px;
	font-weight: lighter;
	padding: 3px 19px;
	text-decoration: none;
}
.tableButton:hover {
    /* Zoom the buttons */
    transform: scale(1.08);
    transition: transform .3s;

    /* Apply zoom animation */
    background: #FFF562;
    background-size: 400% 400%;

    -webkit-animation: smoothCriminal 15s ease infinite;
    -moz-animation: smoothCriminal 15s ease infinite;
    animation: smoothCriminal 15s ease infinite;
    color: #fa08fa;
    font-weight: bold;
}

@-webkit-keyframes smoothCriminal {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes smoothCriminal {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes smoothCriminal {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.annoyingLookingTable {
    background-color: #FFF562;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.annoyingLookingTable tr {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.annoyingLookingTable td, table.annoyingLookingTable th {
    padding: 5px;
}

.annoyingLookingTable tbody td {
    font-size: 22px;
    font-weight: bolder;
    padding: 0px 0px 0px 20px;
}

.annoyingLookingTable tr:nth-child(even) {
    background: #FFFFFF;
}

.annoyingLookingTable thead {
    background: #FA08FA;
    /* position: sticky */
}

.annoyingLookingTable thead th {
    position: sticky;
    top: 0;
    font-size: 19px;
    font-weight: bold;
    color: #FFF562;
    text-align: left;
}

.annoyingLookingTable td:hover {
    transform: scale(1.08);
    transition: transform .3s;
    font-size: 18pt;
    border-radius: 15px;
    background-color: #FA08FA;
    -webkit-text-stroke: 1px #000000;
	-webkit-text-fill-color: #fff562;

    /* Apply zoom animation */
    background-size: 400% 400%;

    -webkit-animation: smoothCriminal 15s ease infinite;
    -moz-animation: smoothCriminal 15s ease infinite;
    animation: smoothCriminal 15s ease infinite;

    color:#fff562;
    font-weight: bold;
}

.annoyingLookingTable tbody>tr>:nth-child(1){
    /* color:#00bef3; */
    font-size: 20pt;
    font-weight: bolder;
    -webkit-text-stroke: 1px #FA08FA;
	-webkit-text-fill-color: #00bef3;
   }

.annoyingLookingTable tbody>tr>:nth-child(1):hover {
    /* color:#00bef3; */
    font-size: 20pt;
    font-weight: bolder;
    -webkit-text-stroke: 1px #FFF562;
	-webkit-text-fill-color: #00bef3;
   }

.cardBanner {
    display: flex;
    flex-direction: row;
    justify-content: unsafe center;
    padding: 0px 0px 0px 15px;
    height: 65px;
    background-color: #FA08FA;
    font-family: 'Harlow';
    font-size: 32pt;
    color: #FFF562;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.coinCardDiv {
    background-image: url(../Assets/Testing/card_background.png);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 300px;
    margin: 25px;
    background-color: #FFF562;
    align-items: center;
    box-shadow: 0px 10px 17px 6px #fa08fa;
}

.coinCardDiv h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    min-width: 100%;
    background-color: #00bef3;
    color: #FFF562;
}

.coinCardDiv:hover h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    min-width: 100%;
    background-color: #fa08fa;
    color: #FFF562;
}

.coinCardDiv p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    padding: 10px;
    min-width: 100%;
    color: #fa08fa;
}

.coinCardDiv:hover {
    background-image: url(../Assets/Testing/pattern_background.png);
    box-shadow: 0px 10px 17px 6px #FFF562;

    transform: scale(1.08);
    transition: transform .3s;

    /* Apply zoom animation */
    /* background: #00bef3; */
    /* background-size: 400% 400%; */

    -webkit-animation: smoothCriminal 15s ease infinite;
    -moz-animation: smoothCriminal 15s ease infinite;
    animation: smoothCriminal 15s ease infinite;
    color: #FFF562;
    font-weight: bold;
}

.searchCardDiv {
    background-image: url(../Assets/Testing/card_background.png);
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 50%;
    margin: 50px 25px;
    background-color: #FFF562;
    align-items: center;
    box-shadow: 0px 10px 17px 6px #fa08fa;
}

.searchCardDiv h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    min-width: 100%;
    background-color: #00bef3;
    color: #FFF562;
}

.searchCardDiv:hover h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    min-width: 100%;
    background-color: #fa08fa;
    color: #FFF562;
}

.searchCardDiv p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 28px;
    padding: 10px;
    min-width: 100%;
    color: #fa08fa;
}

.searchCardDiv:hover {
    background-image: url(../Assets/Testing/pattern_background.png);
    box-shadow: 0px 10px 17px 6px #FFF562;

    transform: scale(1.08);
    transition: transform .3s;

    -webkit-animation: smoothCriminal 15s ease infinite;
    -moz-animation: smoothCriminal 15s ease infinite;
    animation: smoothCriminal 15s ease infinite;
    color: #FFF562;
    font-weight: bold;
}

.iconBox {
    padding: 25px;
    max-width:100%;
    max-height:100%;
}

.smallIconBox {
    padding: 5px;
    max-width:64px;
    max-height:64px;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/*# sourceMappingURL=style.css.map */