body {
    margin: 0;
    background: url("../Assets/Testing/vectorbacklight.jpg") repeat;
}

nav {
    border-bottom: 5px solid  #EF476F;
}

#headercontainer {\
    background-color: #00BFF3;\
    margin: 0 0 25px;\
}

#logocontainer img {
    width: 100%;
    height: auto;
    max-width: 800px;
}

@for $i from 1 through 10 {
    tr:nth-child(#{$i}) {
      $time: $i * 3 + unquote('');
      $delay: unquote('0.' + $time + 's');
      animation-name: showRow;
      animation-duration: 1s;
      animation-delay: $delay; 
      animation-timing-function: ease-in;
    }
  }




